.classmere{
    display: flex;
    flex-direction: row; /* spécifie la direction principale dans laquelle les éléments flexibles sont disposés à l'intérieur de leur conteneur */
    gap: 100px; /* l'espacement entre les éléments enfants */
    flex-wrap: wrap; /* si les éléments enfants ne peuvent pas tous tenir sur une seule ligne en raison de contraintes de largeur, ils passeront à la ligne suivante */
}

.div1{
    width: 250px;
    height: 250px;
    background-color: brown;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 5px;
}

@media screen and (max-width:400px) {
    
    .div1{
        background-color: blue;
    }
}

@media screen and (min-width:400px) and (max-width:1000px) {
    
    .div1{
        background-color: rgb(36, 146, 128);
    }
}

.div1:hover{
    background-color: gold;
}

.div2{
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 5px;
}

.div2:hover{
    opacity: 50%;
}

.div3{
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 5px;
}

.div3:hover{
    cursor: pointer;
}

.div4{
    width: 250px;
    height: 250px;
    background-color: cornflowerblue;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 5px;
}

.div4:hover{
    cursor: grab;
    width: 500px;
}

.div5{
    width: 250px;
    height: 250px;
    background-color: deeppink;
    border-radius: 50%;
    box-shadow: 2px 5px 10px 5px;
}

.div5:hover{
    display: none;
}

h1{
    text-align: center;
    margin-top: 2rem;
    color: brown;
    font-weight: 900;
    font-size: 3rem;
}

@media screen and (max-width:400px) {
    
    h1{
        color: blue;
    }
}

@media screen and (min-width:400px) and (max-width:1000px) {
    
    h1{
        color: rgb(36, 146, 128);
    }
}